.pdf-container {
    position: relative;
    margin-top: 20px;
    text-align: center;
}


.pdf-viewer {
    width: 100%;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}